<?xml version="1.0"?>

<model>
  <name>Tinyhawk Digital Twin</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Wil Koch</name>
  </author>
  <author>
    <name>Jarrod Risley</name>
    <email>jjrisley@bu.edu</email>
  </author>

  <maintainer email="jjrisley@bu.edu">Jarrod Risley</maintainer>


  <description>
	  Digital version of the Emax Tinyhawk
  </description>
</model>